body {
  background-color: #f7f5f2 !important;
  height: 100%;
}

.header .nav-item {
  font-family: "Inconsolata";
  font-size: 15px;
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header .nav-item:hover {
  color: black;
  background-color: #cccccc;
}
.header .nav-item:active {
  color: black;
  background-color: #cccccc;
}

.heading {
  font-family: "Inconsolata";
  font-size: 70px;
  color: #ffffff !important;
  text-align: center;
  padding: 40px;
}

.cafe-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(coffeehouse.jpg);
}

.timing {
  font-family: "Inconsolata";
  font-size: 15px;
  color: #ffffff !important;
  background-color: black;
  background-size: 30px;
  display: inline-block;
  /* justify-content: left;
  align-content: left;
  position: absolute;
  top: 80%;
  left: 1%;  */
}
.address {
  font-family: "Inconsolata";
  font-size: 15px;
  color: #ffffff !important;
  margin-left: auto;
  text-align: right;
  /* display: flex; */
  /* justify-content: right;
  align-content: right;
  position: absolute;
  left: 88%;
  top: 80%; */
}
.about-the-cafe h6 {
  font-family: "Inconsolata";
  font-size: 18px;
  color: #ffffff !important;
  background-color: black;
  background-size: cover;
  display: inline-block;
  padding: 8px;
  letter-spacing: 4px;
}
.about-the-cafe {
    padding:0 20px;
  text-align: center;
  margin-top: 50px;
}
.paragraph {
  font-family: "Inconsolata";
  font-size: 18px;
  text-align: left;
  padding: 10px;
  margin-top: 50px;
}
.paragraph2 {
  font-family: "Inconsolata";
  font-size: 18px;
  text-align: left;
}
.quote {
  font-family: "Inconsolata";
  font-size: 18px;
  text-align: left;
  display: inherit;
  padding: 10px;
  padding-left: 20px;
  margin: 18px;
  /* position:absolute;
    left:25%; */
  background-color: #f1f1f1 !important;
  border-left: 8px solid rgb(163, 161, 161) !important;
}

#line1 {
  font-family: "Inconsolata";
  font-size: 18px;
  text-align: left;
}
#line2 {
  font-family: "Inconsolata";
  font-size: 18px;
  text-align: left;
}
/*menu*/

.drink h6 {
  font-family: "Inconsolata";
  font-size: 18px;
  color: #ffffff !important;
  background-color: black;
  background-size: cover;
  display: inline-block;
  padding: 8px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

/*menu*/
.drink {
  /* width: 100%;
      height: auto; */
  /* display: flex; */
  text-align: center;
  padding: 0 20px;
}
.text {
  font-family: "Inconsolata";
  color: #757575;
  text-align: left;
  padding-left: 10px;
}
h5 {
  font-family: "Inconsolata";
  color: black;
  font-size: 18px;
  margin: 10px;
  text-align: left;
}
.nav {
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.tab-content {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.nav-pills .active {
  background-color: #5d5656 !important;
  color-scheme: #ffffff;
}
.drink .nav-link {
  border-radius: 0 !important;
  color: black;
}

/*WHERE TO FIND US*/
.where {
  text-align: center;
  padding: 20px 20px;
}

.where h6 {
  font-family: "Inconsolata";
  font-size: 18px;
  color: #ffffff !important;
  background-color: black;
  background-size: cover;
  display: inline-block;
  padding: 8px;
  letter-spacing: 4px;
}
.where-pg {
  text-align: center;
}

#where-para-line {
  font-family: "Inconsolata";
  font-size: 18px;
  color: black;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  /* position: absolute;
      left: 27%; */
}

#where-para-line2 {
  font-family: "Inconsolata";
  font-size: 18px;
  color: black;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
}
#where-para-line2 .fyi {
  font-family: "Inconsolata";
  font-size: 18px;
  color: #ffffff !important;
  background-color: black;
  background-size: cover;
  display: inline-block;
  padding: 3px;
  letter-spacing: 4px;
}
#line3 {
  font-family: "Inconsolata";
  font-size: 18px;
  color: black;
  text-align: left;

}



.form {

  text-align: center;
  padding: 0 20px;
}
.bar {
  font-family: "Inconsolata";
  font-size: 18px;
  border: 1px solid #cccccc;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  margin: 20px 0px;
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
}
.message {
  font-family: "Inconsolata";
  font-size: 18px;
  /* position: absolute;
  left: 28%;
  bottom: -40px; */
  text-align: left;
  background-color: black;
  color: #ffffff;
  padding: 5px;
  margin-top: 10px;
}
footer {
  margin-top: 70px;
  background-color: #f1f1f1 !important;
}
footer a {
  color: black;
}
@media (min-width:999px){
  .drink{
    padding: 0 200px;
  }
  .form{
    padding: 0 200px;
  }
  .where{
    padding: 0 200px;
  }
  .about-the-cafe {
    padding:0 200px !important;
}
}